.page-content {
  padding-bottom: 10rem;
}

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}

.post-card {
  @include card-setting;
  margin: 0 auto 5rem auto;
  padding: $card-padding;
  .title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .subTitle {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    color: $grayDark;
  }
  .wrapper {
    @include flex-between;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      margin: 0.3rem;
      font-size: 1.5rem;
      color: $blue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .sub-info {
    white-space: nowrap;
    font-size: 1.2rem;
    color: $gray;
    span {
      margin: 0.1rem;
    }
  }
}

///////////////////////////////////////////////

@media (max-width: calc($tablet--min-width - 1px)) {
  .post-card {
    max-width: calc(100% - 3rem);
  }
}
