@mixin textarea-setting {
  all: unset;
  box-sizing: border-box;
}

.container1 {
  @include flex-center;
  height: 100%;

  .image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      border-bottom-left-radius: $basic-modal-border-radius;
      border-bottom-right-radius: $basic-modal-border-radius;
    }
    .btns {
      position: absolute;
      display: flex;
      bottom: 0.5rem;
      right: 0.5rem;
      label,
      button {
        @include flex-center;
        @include btn-hover;
        // width: 3rem;
        // height: 3rem;
        margin: 0 0.3rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: rgba(26, 26, 26, 0.8);
        box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
        color: $white;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .image-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 1rem;
      font-size: 2.2rem;
    }
    .image-btn {
      display: block;
      @include btn;
      background-color: $blue;
      &:hover {
        background-color: $btn--blue-hover;
      }
    }
  }
}
.container2 {
  overflow-y: scroll;

  textarea {
    @include textarea-setting;
    width: 100%;
    display: block;
  }

  .title {
    padding: $basic-textarea-padding;
    padding-bottom: 0;

    textarea {
      display: flex;
      align-items: center;
      font-size: 3rem;
      font-weight: bold;
      height: 8rem;
      &::placeholder {
        font-weight: 400;
      }
    }
    .title-length {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem;
      font-size: 1rem;
    }
    .line {
      margin: 1.5rem 0 1rem 0;
      width: 6rem;
      height: 0.5rem;
      background: black;
      border-radius: 1px;
    }
  }

  .tag {
    padding: $basic-textarea-padding;

    textarea {
      height: 5rem;
      font-size: 2rem;
      color: blue;
    }
    .tag-length {
      display: flex;
      justify-content: flex-end;
    }
  }

  .contents {
    padding: $basic-textarea-padding;
    height: 60%;
    border-top: 1px solid $gray;
    font-size: 2rem;

    textarea {
      height: 100%;
      &::placeholder {
        font-size: 2rem;
      }
    }
    .contents-length {
      display: flex;
      justify-content: flex-end;
      font-size: 1rem;
    }
  }
}

.container3 {
  width: 100%;
  overflow-y: scroll;
  textarea {
    @include textarea-setting;
  }

  .sub-title {
    margin-bottom: 1rem;
    padding-bottom: $basic-textarea-padding;
    border-bottom: 1px solid $gray;
    textarea {
      overflow: auto;
      padding: $basic-textarea-padding;
      width: 100%;
      height: 100%;
      min-height: 18rem;
      font-size: 1.7rem;
    }
    .sub-title-bottom {
      display: flex;
      justify-content: flex-end;
      padding-right: $basic-textarea-padding;
      .text-length {
        @include flex-center;
        margin-top: 0.5rem;
      }
    }
  }
  .settings {
    padding: $basic-textarea-padding;
    .setting {
      width: 100%;
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ment {
        width: 70%;
        .title {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
        .description {
          p {
            font-size: 1.2rem;
            color: $gray;
          }
        }
      }
    }
  }
}

.image-btn {
  @include flex-center;
  padding: 0.7rem;
  background-color: $blue;
  color: $white;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
}
