.container {
  display: flex;
  margin-bottom: 1.5rem;
}

.data {
  width: 100%;
  main {
    display: flex;
    flex-direction: column;
  }
}

.avatar {
}

.wrapper {
  @include card-setting;
  padding: $card-padding;
  width: 100%;
}

.metadata {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.userinfo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;

  .nickname {
    margin-right: 5px;
    // font-size: 1.3rem;
    font-weight: 600;
  }
  .seperator {
    margin-right: 5px;
    // font-size: 1.2rem;
  }
  .time {
    // font-size: 1.1rem;
    color: $gray;
  }
}

.option-container {
  position: relative;
  .option-btn {
    @include flex-center;
    padding: 6px 12px;
    svg {
      color: $gray;
      width: 1.5rem;
    }
  }
  .options {
    position: absolute;
    // transform: translate3d(-120px, -107px, 0px);
    transform: translate3d(-120px, -13px, 0px);
    top: 0px;
    left: 0px;
    // right: auto;
    // bottom: auto;
    width: 13rem;
    padding: 1rem 0;
    font-size: 1.3rem;
    background-color: $white;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    overflow: auto;
    li {
      button {
        width: 100%;
        padding: 0.5rem 1.5rem;
        &:hover {
          background-color: $bg--gray;
        }
        &:disabled {
          &:hover {
            background-color: inherit;
          }
          cursor: default;
          color: $gray;
        }
      }
    }
  }
}

.contents {
  font-size: 1.7rem;
  // width: 80%;
  textarea {
    padding: 1rem 1.5rem 0.75rem 1.5rem;
    width: 100%;
    height: inherit;
    appearance: none;
    background-color: $bg--gray;
    outline: 1px solid $black;
    border-radius: 0.5rem;

    &:focus {
      outline: 2px solid $blue;
      border: none;
    }
  }
}

.update-btn {
  padding: $card-padding;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    @include btn;

    &:first-child {
      margin-right: 1rem;
      color: $btn--blue;
      &:hover {
        color: $btn--blue-hover;
        text-decoration: underline;
        text-decoration-color: $btn--blue-hover;
      }
    }
    &:last-child {
      padding: 1rem 1.5rem;
      color: $white;
      background-color: $btn--blue;
      font-size: 1.7rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: $btn--blue-hover;
      }
    }
  }
}
