.container {
  display: flex;
  margin-bottom: 1.5rem;
}

.data {
  width: 100%;
  main {
    display: flex;
  }
}

.avatar {
}

.wrapper {
  @include card-setting;
  width: 100%;
}

.metadata {
  display: flex;
  justify-content: space-between;
}

.userinfo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;

  .nickname {
    margin-right: 5px;
    // font-size: 1.3rem;
    font-weight: 600;
  }
  .seperator {
    margin-right: 5px;
    // font-size: 1.2rem;
  }
  .time {
    // font-size: 1.1rem;
    color: $gray;
  }
}

.option-container {
  position: relative;
  .option-btn {
    @include flex-center;
    padding: 6px 12px;
    svg {
      color: $gray;
      width: 1.5rem;
    }
  }
  .options {
    position: absolute;
    transform: translate3d(-120px, -107px, 0px);
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    min-width: 13rem;
    padding: 1rem 0;
    font-size: 1.3rem;
    background-color: $white;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    li {
      button {
        width: 100%;
        padding: 0.5rem 1.5rem;
      }
    }
  }
}

.contents {
  font-size: 1.7rem;
}
