.container {
  @include center-fixed;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  background-color: $white;
  border-radius: 0.3rem;
}

.question {
  padding: 1.7rem;
  font-size: 1.5rem;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.7rem;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
  button {
    @include btn;
    color: $white;
    border-radius: 0.4rem;

    &:first-child {
      margin-right: 10px;
      background-color: $btn--gray;
      &:hover {
        background-color: $btn--gray-hover;
      }
    }
    &:last-child {
      background-color: $blue;
      &:hover {
        background-color: $btn--blue-hover;
      }
    }
  }
}
