.container {
  @include page-config;
  @include flex-center;
  flex-direction: column;
  h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 600;
  }
  a {
    display: block;
    font-size: 2.5rem;
    color: $blue;
    font-weight: 600;
    text-decoration: underline;
  }
}
