$container-width: 768px;
$image-width: 600px;

.wrapper {
  background-color: $bg--gray;
}
.container {
  @include page-config;
  width: $container-width;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 30rem;
}

.post {
  @include card-setting;
  padding: 7rem 7rem 30rem 7rem;
  border-radius: 1rem;
}

.header {
  // margin-top: 15rem;
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    .link-wrapper {
      display: flex;
      align-items: center;
    }
    .avatar {
      position: relative;
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
      img {
        border-radius: 9999px;
      }
    }
    span {
      margin-right: 5px;
    }
    .nickname {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tags {
    display: flex;
    // align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    .tag {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: $blue;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
  .manage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $gray;
    button {
      margin: 0 3px;
      &:hover {
        color: $black;
      }
    }
  }
}

.fake {
  position: relative;
  // right: -10rem;
  .remote-controll {
    position: fixed;
    right: 20rem;
    top: 30vh;
    @include flex-center;
    flex-direction: column;
    padding: 10px 15px;
    background-color: $bg--element2;
    border-radius: 50px;
    .likes,
    .comments {
      @include flex-center;
      margin: 3px 0;
      cursor: pointer;
    }
    .likes-num,
    .comments-num {
      margin-bottom: 5px;
      font-size: 1.3rem;
    }
  }
}

.main {
  margin-top: 6rem;
  margin-bottom: 150px;

  .contents {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.image-container {
  margin-bottom: 10rem;
  .image-wrapper {
    position: relative;
    width: $image-width;
    height: $image-width;
    background-color: inherit;
  }
}

.comments {
  .new-comment {
    width: 100%;
    margin: 20rem 0 20rem 0;
    .textarea-wrapper {
      @include card-setting;
      margin-bottom: 3rem;
      padding: 0.4rem 0 1.2rem;
      background: $white;
      border-radius: 0.5rem;
      overflow: hidden;
      textarea {
        // min-height: 8rem;
        width: 100%;
        appearance: none;
        padding: 0.8rem 1.2rem;
        box-sizing: border-box;
        background: $white;
        border-width: 1px;
        border-color: #6b7280;
        resize: none;
        font-size: 1.7rem;

        &::placeholder {
          font-size: 1.5rem;
        }
      }
    }

    .post-btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      button {
        @include btn;
        padding: 10px 20px;
        background-color: $btn--blue;
        font-size: 1.6rem;
        color: $white;
        border-radius: 5px;
        &:hover {
          background-color: $btn--blue-hover;
        }
      }
    }
  }
}

.loading {
  @include flex-center;
}

.not-allow-comment {
  @include flex-center;
  font-size: 2rem;
  color: $blue;
  margin-top: 20rem;
}

.no-comments {
  @include flex-center;
  font-size: 2rem;
  color: $gray;
  margin-top: 20rem;
}

.division-line {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  div {
    width: 100%;
    border-bottom: 1px solid $btn--blue-hover;
  }
  span {
    display: block;
    white-space: nowrap;
    margin: 0 2rem 0 2rem;
    color: $btn--blue-hover;
    font-size: 1.5rem;
  }
}

////////////////////////////////////////////////////////////////

@include not-desktop {
  .container {
    padding-top: 3rem;
  }
}

@media (max-width: calc($tablet--min-width - 1px)) {
  .wrapper {
    background-color: $bg--element1;
    width: 100%;
    padding: 2rem;
    overflow: hidden;
  }
  .container {
    width: calc(100%);
  }
  .post {
    all: unset;
    background-color: inherit;
    padding: 0rem 0rem 10rem 0rem;
  }

  .main {
    .image-container {
      @include flex-center;
      .image-wrapper {
        width: calc(100vw);
        height: calc(100vw);
        margin: 0 auto;
      }
    }
  }
}
