.container {
  background-color: $bg--gray;
  padding-top: 1rem;
  padding-bottom: 20rem;
  min-height: $main-height;
  margin-top: $nav-height;
}

.main {
  width: $desktop-nav-width;
  margin: 0 auto;
}

.posts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

//////////////////////////////////////////////////////////

.main {
  @include not-desktop {
    width: calc(100% - 3rem);
  }
}
