.wrapper {
  @include page-config;
  background-color: $bg--gray;
}
.container {
  height: $main-height;
  @include flex-center;
  flex-direction: column;
}
.msg-box {
  @include flex-center;
  h2 {
    font-size: 2.5rem;
    color: $black;
  }
}
