.wrapper {
  @include page-config;
  background-color: $bg--gray;
  padding-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  margin: 0 auto;
  @include card-setting;
  padding: 2rem 3rem;
}

.title {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.division-line {
  @include flex-center;
  box-sizing: border-box;
  margin-bottom: 3rem;
  width: 100%;
  .line {
    width: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
  span {
    white-space: nowrap;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.kakao-btn {
  @include flex-center;
  @include btn;
  background-color: $kakao;
  padding: 1rem 3rem;
  width: 50%;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
  svg {
    margin-right: 1rem;
    height: 2rem;
  }
}
